/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

#left {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

#middle {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

#right {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

#full {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

#division {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

aside {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}
